.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.btn {
  height: 50px;
  width: 100px;
}
.primary {
  background-color: blue;
  color: antiquewhite;
}
.secondary {
  background-color: orange;
  color: black;
}
.warning {
  background-color: red;
  color: black;
}
