.hide1 {
  display: none;
}
.show1 {
  display: block;
}

.hide2 {
  display: none;
}
.show2 {
  display: block;
}

.hide3 {
  display: none;
}
.show3 {
  display: block;
}
.hide4 {
  display: none;
}
.show4 {
  display: block;
}

.hide5 {
  display: none;
}
.show5 {
  display: block;
}
